.container
{
    margin: 30px auto;
}
.container .row h1
{
    font-weight:bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p
{
    font-size: x-large;
}

.button
{
    border-radius: 30px;
    color: white;
    width: 150px;
   
}
.button:hover{
    background-color: blue;
    color: white;
}

